{
    "env": {
        "browser": true,
        "es2021": true,
        "node": true
    },
    "extends": [
        "standard",
        "standard-with-typescript",
        "plugin:prettier/recommended", 
        "prettier", 
        "plugin:react/recommended",
        "plugin:@typescript-eslint/eslint-recommended"
    ],
    "overrides": [
    ],
    "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "ecmaVersion": "latest",
        "ecmaFeatures": {
			"legacyDecorators": true,
			"jsx": true
		},
        "sourceType": "module",
        "project": "tsconfig.json"
    },
    "plugins": [
        "react",
        "@typescript-eslint"
    ],
    "settings" : {
        "react": {
            "version" : "18"
        }
    },
    "rules": {
        "space-before-function-paren": 0,
		"react/prop-types": 0,
		"react/jsx-handler-names": 0,
		"react/jsx-fragments": 0,
		"react/no-unused-prop-types": 0,
		"import/export": 0,
		"prettier/prettier": [
			"error",
			{
				"endOfLine": "auto"
			}
		],
        "@typescript-eslint/method-signature-style": 0,
        "@typescript-eslint/consistent-type-imports": 0,
        "@typescript-eslint/array-type": 0,
        "@typescript-eslint/explicit-function-return-type": 0,
        "@typescript-eslint/strict-boolean-expressions": 0
    }
}
